.git
build/
dist/
nbproject/private/
*.log
*.cache
*.lock
*.iml
.idea/
*.class
*.jar
*.war
__pycache__
*.pyc
*.env
.DS_Store
Thumbs.db
desktop.ini
$RECYCLE.BIN/
System Volume Information/
*.zip
*.tar.gz
*.7z
*.bin
*.exe
*.dll
*.so
*.dylib
*.png
*.jpg
*.jpeg
*.gif
*.psd
*.sql