<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>addBooksServlet</servlet-name>
        <servlet-class>addBooksServlet.addBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteBookServlet</servlet-name>
        <servlet-class>addBooksServlet.DeleteBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBooksServlet</servlet-name>
        <servlet-class>addBooksServlet.ListBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateBookServlet</servlet-name>
        <servlet-class>addBooksServlet.UpdateBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>addBooksServlet.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>addBooksServlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookActionsServlet</servlet-name>
        <servlet-class>addBooksServlet.BookActionsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookActionServlet</servlet-name>
        <servlet-class>addBooksServlet.BookActionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnBookServlet</servlet-name>
        <servlet-class>addBooksServlet.ReturnBookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrowedBooksServlet</servlet-name>
        <servlet-class>addBooksServlet.BorrowedBooksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitDBServlet</servlet-name>
        <servlet-class>addBooksServlet.InitDBServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addBooksServlet</servlet-name>
        <url-pattern>/addBooksServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteBookServlet</servlet-name>
        <url-pattern>/DeleteBookServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBooksServlet</servlet-name>
        <url-pattern>/ListBooksServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateBookServlet</servlet-name>
        <url-pattern>/UpdateBookServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookActionsServlet</servlet-name>
        <url-pattern>/BookActionsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookActionServlet</servlet-name>
        <url-pattern>/BookActionServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnBookServlet</servlet-name>
        <url-pattern>/ReturnBookServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrowedBooksServlet</servlet-name>
        <url-pattern>/BorrowedBooksServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitDBServlet</servlet-name>
        <url-pattern>/InitDBServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
